<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>user/index</title>
</head>
<body>
     <h1>index.html</h1><br>
    <div>
        <a th:href="@{/}">Welcome to Spa-day</a>
    </div><br>
     <div>
<!--         <ol>-->
<!--             <th:block th:each="user:${users}">-->
<!--&lt;!&ndash;                 <li th:text="'Username: '+${user.username}" th:href="@{ '/user/' + ${user.username} }"></li>&ndash;&gt;-->
<!--                 <li th:text="'Username: '+${user.username}+' Email: '+${user.email}+' Date: '+${user.date}"></li>-->
<!--             </th:block>-->
<!--         </ol>-->
         <ul>
             <li th:each="user:${users}">
                 <label>
                     Username:
                 </label>
                 <a th:href="@{'/user/detail/'+${user.id}}" th:text="${user.username}"></a>
             </li>
         </ul>
     </div>
</body>
</html>